//nav
.navbar {
  background: none;
  border: none;
  padding: 1em 0;
}
.navbar .navbar-nav .current > a {
  color: #88b7b3;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background-color: transparent;
}
.navbar .nav > li > a.dropdown-toggle i {
  margin: -1px 0 0 3px;
  font-size: 10px;
  display: inline-table;
}
.navbar .nav > li ul {
  border: none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.navbar .nav > li ul li a {
  font-size: 0.9em;
}
.navbar .nav > li ul .dropdown-header {
  color: #88b7b3;
}
.navbar-brand,
.navbar-nav > li > a {
  color: $black
}
.navbar-brand img {
  max-width: 160px;
}
.navbar-inverse {
  background-color: #222222;
}
.navbar-toggle {
  margin: 1.3em 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: white;
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
.logo {
    width:250px;
}
.cbp-af-header {
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  height: 85px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
    border-bottom: 2px solid $black;
}
.cbp-af-header .dropdown-menu {
  position: absolute;
  top: 80%;
}
.cbp-af-header .cbp-af-inner {
  margin: 0 auto;
  padding: 0;
}

//sections
.teaser {
    background: url('http://placehold.it/2000x800');
    background-size: cover;
    height: 440px;
    .teaser-logo {
        width: 50%;
        margin-top: -40px;
        margin-bottom: 20px;
    }
    .teaser-copy{
        text-align: center;
        margin-top: 230px;
        h1 {
          font-size: 64px;
          text-transform: uppercase;
        }
        h4, p{
            color:$dark-grey;
            margin-bottom:16px;
        }
    }
}
.info-section {
    background: $white;
    .info-row {
        h4 {
            margin-top: 20px;
            text-align: left;
        }
    }
}

//footer
.footer-contact {
    font-size: 18px;
    text-align: center;
}
#footer {
  background: $black;
  padding: 4em 0;
  color: white;
}
#footer .copyright {
  color: $white;
  line-height: 2;
  font-weight: 200;
  letter-spacing: 0.7px;
    text-align: center;
}
